.item__content__settings__quantity{
  position: relative;
}
.tooltip{
  position: absolute;
  box-sizing: border-box;
  width: clamp(230px, 100%, 700px);
  padding: 28px 28px;
  border-radius: 40px;
  left: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(-60px) scale(.2);
  pointer-events: none;
}
.tooltip::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(50% - (30px / 2));
  transform: rotate(45deg);
}
.tooltip.active{
  animation: tooltip-appear 5s ease-in-out both;
}
@keyframes tooltip-appear {
  15%, 80%{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

#successMsgTooltip{
  background-color: var(--secondary-color);
  top: 120px;
}
#successMsgTooltip::before{  
  background-color: var(--secondary-color);
  top: -15px;
}

#quantityErrorTooltip{
  background-color: #ff5f5f;
  bottom: 50px;
  transform: translateY(60px) scale(.2);
}
#quantityErrorTooltip::before{
  background-color: #ff5f5f;
  bottom: -15px;
}